* {
  margin: 0px;
}

body {
  background-color: #ef2b34;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
}

.nav-radius {
  border: black solid 1.5px;
  border-radius: 30px;
}

.nav-circle {
  border: #176a9f solid 30px;
  border-radius: 30px;
  z-index: 2;

}

.nav-circle-circle {
  border: #28abfd solid 10px;
  border-radius: 30px;
  z-index: 99;
  position: absolute;
}

.navbar-image {
  width: 160px;
}

.searchbar-container {
  display: flex;
  margin: 0px 10px;
  padding: 0;
  align-items: center;
  flex: 1;
  align-items: stretch;
}

.searchbar {
  background: white;
  padding-right: 20px;
  flex: 1;
  border-radius: 10px;
  border: black solid 2px ;
}

.searchbar input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  
}



.searchbar-btn button {
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
  margin-left: 20px;
}

.not-Found-Search {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 10%;
}

.hearth {
  width: 10%;
}

.button-page {
  border-radius: 10px;
  background-color: #363636;
  color: white
}

.pages {
  padding: 0px 10px;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  padding: 0px 10px 20px 10px;
}




@media screen and (max-width: 992px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 600px) {
  .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  transition: 1s;
}

.pokemon-card:hover {
  box-shadow: 4px 4px 4px 4px;
}

.pokemon-img-conteiner {
  padding: 4px 0px 0px 4px;
}

.pokemon-img {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  transition: 1s;
}

.pokemon-img:hover {
  width: 80px;
  height: 80px;
  box-shadow: 1px 1px 1px 1px;
}

.pokemon-type {
  display: flex;

}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}


.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-botton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.card-botton button {
  border-radius: 25px;
  border: #E6E6E7;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App {
  font-family: sans-serif;

}



@media screen and (min-width:993px) {

  .searchbar input{

      
      width: 100%;
 
 
  }
  .searchbar{
    flex: none;
    width: 50%;
    margin-left: 24%;
}
}